:root {
    --color-primary:#000;
    --color-white:#fff;

    --color-grey-light:#ddd;
    --color-grey-light-1:#eee;
    --color-grey-light-2:#999;

    --color-grey-dark-1: #4e4e4e;
    --color-grey-dark-2:#777777ce;

}


* {
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    //MEDIA QUERY // 
    @include for-size(tab-land) {
        font-size: 50%;
    }

    @include for-size(tab-port) {
        font-size: 37.5%;
    }

    @include for-size(phone) {
        font-size: 30%;
    }

    @include for-size(small-phones) {
        font-size: 20%;
    }

    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.4;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;

    &::after {
        display: block;
        content:"";
        width:20px;
        height:2px;
        background-color: var(--color-primary);
        margin: .5rem auto 0 auto;
    }
}

.heading-four {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.heading-secondary {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.7rem;
}

.heading-fifth {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    letter-spacing: 2px;

}



