.nav-box {
    height:8vh;
    padding-bottom: 1rem;
    border-bottom: 1px solid var( --color-grey-dark-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    //MEDIA QUERY //// 
    @include for-size(tab-port-2) {
        height:15vh;
    }

    //MEDIA QUERY //// 
    @include for-size(phone) {
        height:12vh;
        position: relative;
    }

    &__account {
        margin:0 3rem;
        flex:1;

         //MEDIA QUERY //// 
         @include for-size(tab-port-2) {
            align-self: flex-start;
            flex:.4;
         }

         //MEDIA QUERY //// 
         @include for-size(phone) {
             align-self: center;
             flex:.2;
         }

    }

    &__links,
    &__link {
        &:link,
        &:visited {
           display: inline-block;
           font-size: 1.2rem;
           font-weight: 400;
           letter-spacing: 2px;
           text-transform: uppercase;
           text-decoration: none;
           margin-top: .4rem;
           color:var(--color-primary);
           transition: all .2s ease-in;
        }

        &:hover {
            color:#777;
            fill:#777;
        }
    }

    &__links:not(:last-child) {
        margin-right: 1.7rem;
    }


    &__item {
       position: relative;

        &--edit {
            &::before {
                visibility: hidden;
            }
        }
    }

    &__item::before {
        content:"";
        display: block;
        width:3px;
        height:2px;
        position: absolute;
        top:0;
        left:0;
        background-color: #777;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .2s .2s;
    }

    
    &__item:hover::before {
        transform: scaleX(1);
        width:100%;
    }

    &__item:hover .popup__container-1 {
        opacity: 1;
        visibility: visible;
    }


    &__list {
        list-style: none;
        display: flex;
        flex:3;
        justify-content: space-between;
        position: relative;

        //MEDIA QUERY //// 
        @include for-size(phone) {
            display: none;
        }
       
    }


    &__checkout {
        flex:1;
        margin:0 3rem;

        display: flex;
        justify-content: flex-end;

        //MEDIA QUERY //// 
        @include for-size(tab-port-2) {
            align-self: flex-start;
            flex:.4;
         }

         //MEDIA QUERY //// 
         @include for-size(phone) {
             align-self: center;
            flex:.2;
        }
       

    }

    &__icon {
        width:1.25rem;
        height:1.25rem;
        vertical-align: middle;
        margin:-.3rem 1px 0 0;

        //MEDIA QUERY //// 
        @include for-size(tab-port-2) {
            width:2.5rem;
            height:2.5rem;
        }

    }

    &__text {

        //MEDIA QUERY //// 
         @include for-size(tab-port-2) {
             display: none;
         }
    }
}

.edit:link,
.edit:visited {
    background-color:lightpink;
    display: inline-block;
    font-size: 1.35rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0;
    font-style: italic;
    font-weight: 700;
    padding:.3rem .9rem;
    margin-top:-.2rem;
}

//BANNER /////////////
.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        font-size: 1.75rem;
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.5px;
        line-height: 1.6;
        flex: 0 0 44%;
        

        display: flex;
        flex-direction: column;
        align-items: center;

        //MEDIA QUERY //// 
        @include for-size(small-phones) {
            flex:0 0 70%;
            line-height: 1.3;
            font-size: 7px;
        }
       
    }

    &__text {
        text-align: center;

        &-quotation {
            font-family: serif;
        }
    }

    &__box {
        display: inline-block;
        padding-right:1.5rem;
        border: 1px solid var(--color-white);
        margin-top:3rem;

        &:hover {
            background-color: var(--color-white);

            //MEDIA QUERY //// 
            @include for-size(phone) {
                display: none;
            }
        }

        //MEDIA QUERY //// 
        @include for-size(phone) {
            background-color: var(--color-white);
            color:#000;
        }

        //MEDIA QUERY //// 
        @include for-size(small-phones) {
            margin-top: 3.5rem;
            padding-right:3rem;
        }
    }

    &__btn {
        &:link,
        &:visited {
           display: inline-block;
           font-size: 1.45rem;
           font-weight: 400;
           padding:1rem 2.5rem;
           text-decoration: none;
           position: relative;
           color:var(--color-white);

           //MEDIA QUERY //// 
           @include for-size(phone) {
               color:var(--color-primary);
           }

           //MEDIA QUERY //// 
           @include for-size(small-phones) {
               font-size: 1.5rem;
               padding:1.5rem 1.8rem;
        }
        }

        &::after {
            content:"\203A";
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 3.2rem;
            font-weight: inherit;
            position: absolute;
            top:-.8rem;
            right:.5rem;

            //MEDIA QUERY //// 
            @include for-size(phone) {
                top:-.4rem;
            }

            //MEDIA QUERY //// 
            @include for-size(small-phones) {
                font-size: 3.5rem;
                top:-.1rem;
                right:-.6rem;
             }
        } 

        &:hover {
            color: var(--color-primary);

            //MEDIA QUERY //// 
            @include for-size(phone) {
                display: none;
            }
        }

    }
}

// CATEGORY SECTION ///////
.category {

    &__title {
        display: inline-block;
        width:80%;
        margin:3rem auto 5rem 0;
        text-align: center;

        //MEDIA QUERY //// 
        @include for-size(phone) {
            width:70%;
        }
    }

    &__photo {
        display: block;
        width:100%;
        transition: opacity .3s;
        filter: brightness(95%);
        transition: all .2s;


        &--big {
            width:80%;
            height:auto;

            //MEDIA QUERY //// 
            @include for-size(phone) {
                width: 70%;

            }

        }

        &--small {
            width:80%;
            height: auto;

            //MEDIA QUERY //// 
            @include for-size(phone) {
                width:70%;
            }

        }

        &:hover {
            filter:brightness(110%);
        }

    
    }

    &__btn {
        &:link,
        &:visited {
           display: inline-block;
           font-size: 1.45rem;
           font-weight: 400;
           text-decoration: none;
           text-transform: uppercase;
           color:var(--color-primary);
           position: relative;
           border-bottom: 1px solid transparent;
           padding-bottom:.3rem;
           @include transition;

           //MEDIA QUERY //// 
           @include for-size(small-phones) {
               font-size: 6px;
           }

        }

        &:hover {
            border-bottom: 1px solid var(--color-primary);
            
        }

        &-icon::before {
            content:"\203A";
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 3.2rem;
            font-weight: inherit;
            position: absolute;
            top:-1.5rem;
            right:-1.8rem;

            //MEDIA QUERY //// 
           @include for-size(phone) {
               top:-1.1rem;
          }
        }

        // POPUP "SHOP" BUTTON STYLE ////
        &-popup:link,
        &-popup:visited {
            color: var(--color-grey-dark-2) !important;
            font-size: 1.1rem !important;
            font-weight: 600 !important;
            @include transition;

        }

        &-popup:hover,
        &-popup:active {
            color: var(--color-primary) !important;
        }

        &-icon--popup::before {
            font-size: 2rem;
            top:-.8rem;
            right:-1.2rem;
        }

    }
}

// SHOP LINK (CATEGORIES SECTION) ///// 
.shop-link {
    border:1px solid var(--color-primary);
    display: inline-block;
      

    &:hover {
        background-color: #000;
    }
    

    &-btn {
        &:link,
        &:visited {
            color:#000;
            text-transform: uppercase;
        }

        &:hover {
            color:#fff;

            //MEDIA QUERY //// 
            @include for-size(small-phones) {
                display: none;
          }
        }

        &::after {
            top:-.45rem;

            //MEDIA QUERY //// 
            @include for-size(small-phones) {
                 top:.4rem;
          }
        }

    }
    
}

// BG VIDEO  ///// 
.bg-video {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;

    &__content {
        height:100%;
        width:100%;
        object-fit: cover;
    }
}

.watch-links {
    display: inline-block;
    z-index: 2;
  
}

.watch {
    &:link,
    &:visited {
        color:#fff;
        font-size: 1.3rem;
        letter-spacing: 1px;
        @include transition;

        //MEDIA QUERY //// 
        @include for-size(small-phones) {
            font-size: 5px;
        }

    }

    &:hover {
        border-bottom: 1px solid var(--color-white);
        
    }

    &:not(:last-child) {
        margin-right: 4rem;
    }
}

// FEATURE SECTION //// 
.feature {
    margin: 3rem 3rem 4.5rem 3rem;
    display: flex;

    &__box {
        @include transition;
       

        &:not(:last-child) {
            margin-right:3rem;
        }
        
        &:hover {
            box-shadow: 0 2rem 2rem rgba(0,0,0, .4);
        }

    }

    &__img {
        display: block;
        width:100%;
        height:100%;

    }

    &__description {
        font-family: 'Playfair Display', serif;
        text-align: center;
        padding:3rem;
        background-color: var(--color-white);
        @include transition;
    }

    &__price {
        font-size: 1.4rem;
        margin-top: 1rem;

    }

    &__box:hover &__description  {
            box-shadow: 0 1.5rem 2rem rgba(0,0,0, .4);
   
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        height:50vh;
        color: var(--color-primary);

    }
}

// FOOTER //// 
.footer {

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top:3rem;
    }

    &__list {
        flex:1;
        list-style: none;
    }

    &__item {
        margin-top:1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.05rem;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .1rem;
            color: var(--color-grey-dark-2);
            border-bottom: 1px solid transparent;
            @include transition;
        }

        &:hover,
        &:active {
            color: var(--color-primary);
            border-bottom: 1px solid #000;
        }

        // Links with no border bottom (nb) //// 
        &--nb:link,
        &--nb:visited {
            border-bottom:transparent;
        }

        &--nb:hover,
        &--nb:active {
            border-bottom:transparent;
        }

        // POPUP LINKS STYLES FOR POPUP CONTAINER //// 
        &-popup:link,
        &-popup:visited {
            color: var(--color-grey-dark-1);
        }

        &-popup:hover,
        &-popup:active {
            color: var(--color-primary);
        }
    }

    &__img {
        display: block;
        width:38%;

        &--2 {
            width:35%;
        }
    }
}


.input-box {
    
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: center;

    &__wrap {
        width:100%;
        display: flex;
        justify-content: center;
    }

    &__field {
        padding:1rem 2rem;
        width:80%;
        border:none;
        border:1px solid var(--color-grey-light);

        &:focus {
            outline:none;
        }

        &::-webkit-input-placeholder {
            color:var(--color-grey-light-2);
        }
    }

    &__img {
        margin-top:2rem;
        width:100%;
    }
    
}

// SIGN UP BUTTON //// 
.btn-sign-up {
    width:30%;
    padding:1.3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border:1px solid var(--color-primary);
    cursor: pointer;
    transition: all .2s;

    &:focus {
        outline:none;
    }

    &:hover,
    &:active {
        color: var(--color-primary);
        background-color: var(--color-white);
        
    }
}

// COPYRIGHT //// 
.copyright {
    text-align: center;
    margin-top:5rem;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

// POPUP CONTAINER //// 
.popup {
    &__container-1 {
        padding:2rem 3rem;
        width:100vw;
        background-color: var(--color-white);
        border-top: 1px solid var(--color-grey-dark-2);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top:1rem;
        left:-29rem;
        z-index: 200;
        @include transition;
    }

    &__video-box {
        width:95%;
    }

    &__video-content {
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
}


