.header {
  

   &__logo {
       font-size: 4rem;
       font-weight: 400;
       text-transform: uppercase;
       padding:2rem 0 1rem 0;
       letter-spacing: 5px;

       display: flex;
       justify-content: center;

        //MEDIA QUERY //// 
        @include for-size(phone) {
            padding:1.5rem 0 0 0;
            width:40%;
            position: absolute;
            top:0;
            left:30%;
       }

        //MEDIA QUERY //// 
       @include for-size(small-phones) {
            top:1rem;
       }
       
   }
}

.banner {
    background-image: url(/img/home-header.jpg);
    background-size: cover;
    height:85vh;
    width:auto;
    position: sticky;

    //MEDIA QUERY //// 
    @include for-size(phone) {
        height:60vh;
    }

    //MEDIA QUERY //// 
    @include for-size(small-phones) {
        height:50vh;
     }
}

// SECTION CATEGORIES ///////////
.section-categories {
    padding:8rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.category__container {   
    max-width: 95vw;

    display: flex;
    margin:3rem 0 -4rem 7rem;

    //MEDIA QUERY //// 
    @include for-size(phone) {
        max-width: 80vw;
        margin:5rem 0 -4rem 11rem;
    }

    //MEDIA QUERY //// 
    @include for-size(small-phones) {
        margin-left:9rem;
    }

}

// SECTION BG VIDEO /////////// 
.section-video-ad {
    height:80vh;
    padding:1rem 0 5rem 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    //MEDIA QUERY //// 
    @include for-size(small-phones) {
        height:50vh;
       
    }
}

// SECTION FEATURE /////////// 
.section-feature {
    padding: 8rem 0;
    background-color: var(--color-grey-light-1);


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    //MEDIA QUERY //// 
    @include for-size(tab-land) {
        padding:5rem 0;
    }
}

// SECTION FOOTER /////////// 
.footer {
    padding:3rem 4rem;

    &__logo {
        font-size: 2rem;
        justify-content: flex-start;
    }

     //MEDIA QUERY //// 
     @include for-size(tab-land) {
        padding:2rem 3rem;
    }

     //MEDIA QUERY //// 
     @include for-size(phone) {
        position: relative;
        height:85vh;
        padding:2rem 4rem;
    }

    
}


